<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.GoodsBelongMapper">

    <!-- 根据单号获取物品信息 -->
    <select id="getGoodsByNum" resultType="java.util.LinkedHashMap">
        SELECT
        gb.id,
        gb.name,
        gb.type,
        gb.type_id AS typeId,
        gb.unit,
        gb.amount,
        gb.num,
        gb.price,
        gb.create_date AS createDate,
        ct.`name` AS consumableName
        FROM
        goods_belong gb
        LEFT JOIN consumable_type ct ON ( ct.id = gb.type_id )
        WHERE
        1 = 1
        AND gb.num = #{ num }
    </select>

    <select id="getGoodsDetailByNum" resultType="java.util.LinkedHashMap">
        SELECT
        gb.id,
        gb.`name`,
        gb.type,
        gb.type_id AS typeId,
        gb.unit,
        gb.amount,
        gb.num,
        gb.price,
        gb.create_date AS createDate,
        ct.`name` AS consumableName,
        IFNULL( si.amount, 0 ) AS amountStock
        FROM
        goods_belong gb
        LEFT JOIN consumable_type ct ON ( ct.id = gb.type_id )
        LEFT JOIN stock_info si ON ( si.`name` = gb.`name` )
        AND si.is_in = 0
        WHERE
        1 = 1
        AND gb.num = #{ num }
    </select>
</mapper>
