<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.StudentInfoMapper">

    <!-- 分页获取学生信息 -->
    <select id="studentInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        si.id,
        si.name,
        si.team,
        si.user_id AS userId,
        si.content,
        si.create_date AS createDate,
        tu.USERNAME AS userName,
        tu.`STATUS` AS accountStatus,
        tu.LAST_LOGIN_TIME AS lastTime
        FROM
        student_info si
        LEFT JOIN t_user tu ON ( tu.USER_ID = si.user_id )
        WHERE
        1 = 1
        <if test="studentInfo.name != null and studentInfo.name != ''">
            AND si.name LIKE CONCAT('%',#{studentInfo.name},'%')
        </if>
        <if test="studentInfo.team != null and studentInfo.team != ''">
            AND si.team LIKE CONCAT('%',#{studentInfo.team},'%')
        </if>
        <if test="studentInfo.accountStatus != null">
            AND tu.`STATUS` = #{studentInfo.accountStatus}
        </if>
    </select>
</mapper>
